<div class="row text-center introFeatures">

	<div class="col-md-2"></div>

	<div class="col-md-8 well">
		<input placeholder="Search questions here..." />

		<input placeholder="Post your question here..." />

		<a ui-sref="CreateQuestion"><button class="btn btn-warning">New Question</button></a>
		<div ng-repeat="q in vm.allquestions">
			<a ui-sref="ViewQuesiton({id: q._id})">
				<div class="well">
			{{q.questionBody}}
			</div></a>
			
		</div>
	</div>

	<div class="col-md-2"></div>

</div>
