<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>Register</h1>
			
			<form ng-submit="nav.registerUser()">

				<div class="form-group">
					<label>User Name</label>
					<input type="text" class="form-control" ng-model="nav.user.username"/>
				</div>

				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" ng-model="nav.user.email"/>
				</div>

				<div class="form-group">
					<label >Password</label>
					<input type="password" class="form-control" ng-model="nav.user.password"/>
				</div>

				<div class="form-group">
					<label >Confirm Password</label>
					<input type="password" class="form-control"/>
				</div>

				<div class="text-center">
					<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</div>
			<br/>

		</form>
	</div>
	<div class="col-md-2"></div>

</div>
</div>