<div class="row text-center">

	<div class="col-md-2"></div>

	<div class="col-md-8">
		<h5>Your Profile</h5>
		<h4>{{vm.userLoggedIn.username}}</h4>

		<img class="img  img-circle" src="{{vm.userLoggedIn.image}}" height="190px" width="179px">

		<div>
			<br/>
			<!-- <a ng-click="vm.updateProfile"><button>Edit Profile</button></a> -->
			<a ui-sref="updateProfile">Edit Profile</a>
			<a ng-click="vm.deleteUserProfile()"><button>Delite Profile</button></a>

		</div>
	</div>
</div>

<div class="col-md-2"></div>

</div>
