<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body>

	<div ng-controller="NavBarController as nav">

		<section layout="row" flex>
			
			<md-content flex layout-padding>
			<div layout="column" layout-fill layout-align="top center">

				<div>
					<md-button ng-click="nav.toggleLeft()"
					class="md-primary" hide-gt-md>
					Toggle left
				</md-button>
			</div>
			
		</div>
		<div flex></div>
	</md-content>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
	<md-toolbar class="md-theme-light">
	<h1 class="md-toolbar-tools">Sidenav left</h1>
</md-toolbar>

<md-button ng-click="nav.close()" class="md-primary">
Close Sidenav left
</md-button>
</md-sidenav>
</section>

</div>

<ui-view></ui-view>
<!-- Ext Libs -->
<script src="angular/angular.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="angular-material/angular-material.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<!-- Global Src -->
<script src="/javascript/app.js"></script>
<!-- Factories -->
<script src="/javascript/services/HomeFactory.js"></script>
<!-- Controllers -->
<script src="/javascript/controllers/HomeController.js"></script>
<script src="/javascript/controllers/NavBarController.js"></script>
</body>

</html>
