body {

  font-family: 'RobotoDraft';
  height: 100%;
}
#voteBut{
  min-width: 50px;
  }
#editQuestion{
  margin-top: 10%;
  margin-left: 30px;
}
#questionVote{
  margin-right: 90%;
}
#questionFace{
  margin-left: 30px; 
  font-size: 30px;"
}
#alerts{
/*    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; */
  }

  #loadingGif {
    height: 40px;
    width: 40px;
  }
  #questionInput {
    /*	width: 60%*/
  }
  #settingsRadius {
    width: 30%;
    display: inline;
  }
  #map {
    width: 100%;
    height: 400px;
  }
  #settingsMap{
    width: 100%;
    height: 200px;
  }
  #searchLoc {
    width: 50%;
    display: inline;
  }


  /*================NAVIGATION STYLES==========================================*/


  #navBar {
    font-size: 1.3em;
    height: 100%;
    margin: auto;
  }

  .sideNav {
    box-shadow: 1px 1px 13px 1px #333;
    height: 100%;
    position: fixed;
  }
  .sideNav .material-icons {
    color: #26a69a;
    padding-right: 1em;
    padding-left: 1em;
    vertical-align: middle;
    font-size: 2em;
  }

  .navImage {
    height: 100px;
    width: 50%;
  }

  #navBar a, #userInfo {
    width: 93%;
    display: inline-block;
    height: 7.9%;
    text-align: left;
    vertical-align: middle;
    padding-top: .9em;
  }


  #userInfo {
    height: 40%;
    width: 100%;
    top: 0;
    background-color: #26a69a;
  }

  a:hover, a:visited, a:active {
    text-decoration: none;
    color: #26a69a;
  }

  .loggedInUser {
    color: #26a69a;
  }

  .topNav {
    height: 60px;
    box-shadow: 1px 1px 9px #333;
    margin-bottom: 3em;
    color: #26a69a;
  }

  #tradeName {
    font-size: 1.6em;
    padding-top: -.7em;
    padding-left: .3em;
  }

  .topRight {
    padding-right: 1em;
    padding-top: 1em;
    font-size: 1.3em;
  }


  #naviBars {
    color: #26a69a;
    margin-top: .3em;
  }

  /*md-backdrop.md-opaque {
    background-color: rgba(33,33,33,0) !important;
    top: 0;

  }*/


  /*================TAG STYLES==========================================*/
  #quesitonTag{
    margin-left: 7px;
    font-size: 15px;
    border-radius: 10px;
    border-radius: 1px 5px 3px 5px;
    border-width: 3px;
    box-shadow: 2px 2px 2px black;
    border-color: #000000;
    padding-left: 15px;
    color: #000;
    background-color: #26a69a;
    display: inline;
  }
  .tagDiv {
    border-radius: 10px;
  }
  .indvTag {
    border-radius: 1px 5px 3px 5px;
    border-width: 3px;
    box-shadow: 2px 2px 2px black;
    border-color: #000000;
    padding-left: 15px;
    color: #000;
    background-color: #26a69a;
    display: inline;
  }

  /*================QUESTIONs &  CARD STYLES==========================================*/
  #QDicon{
    display: inline;
    opacity: 1.0;
    font-size: 3em;
  }
  .md-input-container.flex.md-default-theme.md-input-focused {
    color: #26a69a;
  }
  .qCards {
    width: 100%;
    height: 100px;
    margin-top: 1em;
  }
  .qIcon {
    font-size: 6em;
    padding-top: 5%;
    opacity: .3;
  }
