body {
  font-family: 'RobotoDraft'
}
#loadingGif {
  height: 40px;
  width: 40px;
}
#questionInput {
  /*	width: 60%*/
}
#settingsRadius {
  width: 30%;
  display: inline;
}
#map {
  width: 100%;
  height: 200px;
}

#searchLoc {
  width: 30%;
  display: inline;
}
/*#tagSave{
	margin-left: 100%;
=======

.md-primary {
  color: white;
  background-color: #26a69a;
}

/*================NAVIGATION STYLES==========================================*/
#navBar {
  font-size: 1.3em;
  height: 100%;
  margin: auto;
}

.sideNav {
  box-shadow: 1px 1px 13px 1px #333;
}

#navBar a {
  width: 100%;
  display: inline-block;
}



#userInfo{
  height: 15em;
  text-align: center;
  margin: auto;
  background-color: #26a69a;
}

.topNav {
  height: 60px;
  box-shadow: 1px 1px 9px #333;
  margin-bottom: 3em;
  z-index: 1;
  color: #26a69a;
}

#tradeName {
  font-size: 1.6em;
  padding-top: -.7em;
  padding-left: .3em;
}

.topRight {
  padding-right: 1em;
  padding-top: 1em;
  font-size: 1.3em;
}


#naviBars {
  color: #26a69a;
  margin-top: .3em;
}

md-backdrop.md-opaque {
  background-color: rgba(33,33,33,0) !important; 
}
/*================TAG STYLES==========================================*/

.tagDiv {
  border-radius: 10px;
}
.indvTag {
  border-width: 3px;
  box-shadow: 2px 2px 2px black;
  border-color: #000000;
  padding-left: 15px;
  color: #2F5D92;
  background-color: #E0EDF5;
  display: inline;
}

/*================QUESTION CARD STYLES==========================================*/

.qCards {
  width: 100%;
  height: 100px;
  margin-top: 1em;
}
.qIcon {
  font-size: 6em;
  padding-top: 5%;
  opacity: .3;
}
