
<div class="row topRows">
	<div class="col-md-2"></div>
	<div class="col-md-8 animated fadeIn">
		<center>
			<h2>Fill out the fields below to ask your question</h2>
			<i ng-click="createQDirections = true;">Click for directions</i>
		</center>
		<ol ng-show="createQDirections" class="mdl-card mdl-shadow--4dp qCards animated fadeIn">
			<br>
			<li>Type question in section that says "Type question here..."</li>
			<li>Type location of your question in the section that says "Type location of question then press ENTER...". For example, type "Los Angeles" then press ENTER key.</li>
			<li>Type tags for your question in section that says "Add tag(s) to your question and press ENTER after each one...". Tags are like categories that you feel your question is related to. For example, if you ask "Where is the best place to get a good veggie burger in town", suitable tags could be "food", "burgers", "vegetarian", etc. Make sure to press the ENTER key after each tag that you type.</li>
			<center><i ng-click="createQDirections = false;">Close</i></center>
		</ol>
		
		<md-input-container flex>
		
		<label>Type question here...</label>
		<input ng-model="vm.desc">

		<br>

		<br>


	</md-input-container>
	
	<br>
	<br>

	<!-- <form ng-submit="vm.addQlocation()">
		<input class="form-control" ng-model="vm.questionLocation" placeholder="Enter Specific Location">
	</form> -->
	<form ng-submit="vm.addQlocation()">
		<md-input-container flex>
		<label>Type location of question then press ENTER...</label>
		<input ng-model="vm.questionLocation" >

	</md-input-container>
</form>
<br>
<div ng-show="vm.mapStatus" id="map"></div>

<div>

	



</span>
<br>
<form ng-submit="vm.addTag(vm.tag)">
	<md-input-container flex>
	<label>Add tag(s) to your question and press ENTER after each one...</label>
	<input ng-model="vm.tag">

</md-input-container>
</form>
<span ng-show="vm.tagError" class="animated rubberBand">Cannot Submit tag with Spaces</span>

<div class="tagDiv" style=" min-height: 30px; background-color: #FFFFFF;">

	<div ng-repeat="tag in vm.tags track by $index" class="indvTag">
		{{tag}}
		<div ng-click="vm.deleteTag($index)" class="glyphicon glyphicon-remove" aria-hidden="true">
		</div>
	</div>
</div>
</div>
<center>
	<md-button class="md-button md-raised md-primary" ng-click="vm.createQ()">Finish and post question</md-button>
</center>
</div>



<div class="col-md-2"></div>
</div>
