<br>
<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="well">

		<span><center><h3>Add Tags to your Question</h3></center>
			<br>
			<div class="tagDiv" style=" min-height: 30px; background-color: #FFFFFF;" ng-click="vm.showTagInput()">

				<span class="" ng-repeat="tag in vm.tags track by $index">

					<div class="indvTag">
						{{tag}}
						<div ng-click="vm.deleteTag($index)" class="glyphicon glyphicon-remove" aria-hidden="true">
						</div>
					</div>
					&nbsp;
				</span>

			</div>


		</span>
		<br>
			<form ng-submit="vm.addTag(vm.tag)" ng-show="vm.showInput">
				<input class="form-control" ng-model="vm.tag">
			</form>
			<span ng-show="vm.tagError" class="animated rubberBand">Cannot Submit tag with Spaces</span>

	</div>

</span>



<br>

	<form ng-submit="vm.addQlocation()">
		<input class="form-control" ng-model="vm.questionLocation" placeholder="Enter Specific Location">
	</form>
	<div ng-show="vm.mapStatus" id="map"></div>
		<br>
		<form ng-submit="vm.createQ()">

			<input class="form-control" placeholder="desc of question" ng-model="vm.desc">

			<br>

			<br>
			<center>
				<button class="btn btn-lg" type="submit">Submit</button>
			</center>

		</form>
	</div>
</div>
<div class="col-md-2"></div>
