

<div class="container-fluid welcomePage">
	<div id="welcome-nav">
		<div><a href="/#/#howTo">What is RegionKnow?</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/#aboutUs">About Us</a></div>
	</div>	
	<div class="row topRows">
		<div class="col-md-8 col-md-offset-2 text-center homeWell">
			<div>
				<img src="../imgs/smallRegionKnowLogo.png" id="logo">
				<h1>KnowOff</h1>
				<h3>Ask questions, get answers and more.</h3>

				<div>
					<md-button class="md-raised" ng-click="nav.openLoginModal()">Login</md-button>

					<md-button class="md-raised" ng-click="nav.openRegisterModal()">Register</md-button>
				</div>
				<br>
				<i>or login with an account below...</i>
				<br>
				<br>
				<md-button href="api/user/auth/facebook" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-facebook" style="font-size: 1.7em;"></i></md-button>

				<md-button href="api/user/auth/google" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-google" style="font-size: 1.7em;"></i></md-button>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 text-center welcomeBasics animated slideInUp" id="howTo">
	<div class="col-md-3"></div>
	<div class="col-md-2">
		Ask
		<br>
		<i class="material-icons">live_help</i>
		<p>Inquire about places, goods, or anything you're wondering about in a specific area, and tag your questions with custom categories.</p>
	</div>
	<div class="col-md-2">
		Answer
		<br>
		<i class="material-icons">check_box</i>
		<p>Respond to any questions you want using your knowledge based on personal experience, location, or regional intelligence.</p>
	</div>
	<div class="col-md-2">
		Acknowledge
		<br>
		<i class="material-icons">poll</i>
		<p>Give feedback to who posts the most knowledgable information. Message others discussing ideal answers to questions.</p>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="col-md-12 aboutUs text-center" id="aboutUs">
	<h2 class="whiteh2">About Us</h2>
	<br>
	<br>
	<div class="col-md-2"></div>
	<div class="col-md-2 well kareem">
		<h5>Kareem March</h5>
		As a current javascript ninja, Kareem utilizes his analytical and logical abilities to make sure users can conveniently use all the features of RegionKnow, and communicate freely.
	</div>
	<div class="col-md-2 well stuart">
		<h5>Stuart Grossman</h5>
		Using his experience as a computer software professional and mind-blowing javascript skills, Stuart managed to build many intricate functions of the RegionKnow application.   
	</div>
	<div class="col-md-2 well kandi">
		<h5>Kandianne Pierre</h5>
		Kandianne brings the RegionKnow application to life, by applying her fun and modern design ideas, using classic and new development frameworks and tools. 
	</div>
	<div class="col-md-2 well ray">
		<h5>Ray Borissov</h5>
		With a business background and back-end experience, Ray applies his skills to keep the team working hard and ensures resources are always provided to get tasks done.
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12 copywright text-center">
	Copyright &copy; 2015. All Rights Reserved. Handcrafted at Coder Camps in Oakland, CA.
</div>
