<div class="container-fluid welcomePage">
	<div class="row topRows">

		<div class="col-md-8 col-md-offset-2 text-center homeWell">

			<div>
				<h1>KnowOff</h1>
				<h3>Ask questions, get answers and more.</h3>

				<div>
					<md-button class="md-raised" ng-click="nav.openLoginModal()">Login</md-button>

					<md-button class="md-raised" ng-click="nav.openRegisterModal()">Register</md-button>
				</div>
				<br>
				<i>or login with an account below...</i>
				<br>
				<br>
				<md-button href="api/user/auth/facebook" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-facebook" style="font-size: 1.7em;"></i></md-button>

				<md-button href="api/user/auth/google" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-google" style="font-size: 1.7em;"></i></md-button>
			</div>
		
		</div>


	</div>



</div>
