<div class="row text-center introFeatures">

	<div class="col-md-2"></div>

	<div class="col-md-8 well">
		<input placeholder="Search questions here..." ng-model="vm.search" />

		<br><br>

		<div ng-show="vm.status">
		<a ui-sref="CreateQuestion"><button class="btn btn-warning">New Question</button></a>
		</div>
		<div ng-repeat="q in vm.allquestions | filter:vm.search " ng-show="q.isDeleted != true">
			<a ui-sref="ViewQuesiton({id: q._id})">
				<div class="well">
			{{q.questionBody}}
			</div></a>
			
		</div>
	</div>

	<div class="col-md-2"></div>

</div>
