<div class="row topRows" ng-cloak>

	<div class="col-md-2"></div>

	<div class="col-md-8" ng-cloak>



		<md-input-container flex>
		<label>Search Questions by Name or Tags</label>
		<input ng-model="vm.search">
	</md-input-container>

	<div class="text-center">
		<br><h2>Click on a question to answer it</h2>
		<i>Questions filtered according to user settings</i>
		<br>
		<br>
	</div>


	<div ng-repeat="q in vm.allquestions | filter:vm.search " ng-show="q.isDeleted != true">
		<a ui-sref="ViewQuesiton({id: q._id})">

			<div class="mdl-card mdl-shadow--4dp qCards">

				<div class="mdl-card__supporting-text" style="opacity: none;">
					<span>
						<i class="material-icons qIcon">help_outline</i>
						&nbsp;
						<p>{{q.questionBody}}</p>
					</span> 
				</div>
			</div>

		</a>

	</div>
	<br><br>
</div>

<div class="col-md-2"></div>

</div>
