<div class="row topRows text-center introFeatures animated fadeIn">

	<div class="col-md-2 col-lg-1"></div>

	
	<div class="col-md-8" ng-show="vm.Qloaded">
			<md-progress-circular md-mode='indeterminate' md-diameter='100'></md-progress-circular>
	</div>
	
	<div class="col-md-8 col-lg-10" ng-show="!vm.Qloaded" ng-cloak>
		<br>
		<center><h2 class="whiteh2"><img src="{{vm.question.img}}" class="img-circle" style="height: 10%; width: 10%;">&nbsp;{{vm.question.userName}} asked...</h2></center>
		<br>
		<table class="mdl-card mdl-shadow--4dp qDetailCards" width="100%" ng-cloak>
			<tr id="questionVote">

				<td>
					<div ng-controller="VoteController as vm" style="margin-right: 30px;">

						<md-button aria-label="..." class="md-raised md-primary" id="voteBut" ng-click="vm.upVote()">
						<div ng-style="{color: vm.UpvoteColor}" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></div></md-button>
						<div style="font-size:25px;" id="voteNum" ng-class="vm.VoteAnimation">
							{{vm.voteNum}}
						</div>
						<md-button aria-label="..." class="md-raised md-primary" id="voteBut" ng-click="vm.downVote()">
						<div ng-style="{color: vm.DownvoteColor}" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></div>
					</md-button>
				</div>
			</td>

			<td id="questionFace">
				{{vm.question.questionBody}}

				<br>

				<div class="qTag" ng-repeat="tag in vm.question.tags">
					{{tag}}
				</div>
			</td>


			<td>
				<div id="editQuestion">

					<md-button ng-click="vm.showOptions()" ng-if="vm.status._user.id === vm.question.postedBy && !vm.options"><i class="material-icons">more_vert</i></md-button>
					<span ng-if="vm.options">
						<button class="btn btn-warning btn-xs" ng-click="vm.editQuestion()">Edit</button>
						<button class="btn btn-danger btn-xs" ng-click="vm.deleteQuestion(vm.question._id)">Delete</button>
						<button class="btn btn-default btn-xs" ng-click="vm.hideOptions()" >close</button>
					</span>

					<br>

					<br>

					<div ng-if="vm.showEdit">
						<form ng-submit="vm.submitEdit()">
							<input class="form-control" placeholder="{{vm.question.questionBody}}" ng-model="vm.edit.questionBody" required>
							<br>
							<md-button class="md-primary md-raised" ng-disabled="!vm.edit.questionBody" type="submit">Submit</md-button>
						</form>
					</div>

				</div>


			</td>
		</tr>


		<!-- <img src="{{vm.question.img}}" class="img-circle" style="height: 10%; width: 10%;"> -->

	</table>

	<br>
	<form ng-submit="vm.addAnswer()" ng-if="vm.status._user.id != vm.question.postedBy">
		<md-input-container flex class="text-left">
		<label>Answer this question here...</label>
		<input ng-model="vm.AnswerObj.answerBody" require>
	</md-input-container>
	<br>

	<!-- <h5 ng-show="vm.errorMessage" style="color: red;">Sorry! You can not submit an empty answer.</h5> -->
	<md-button class="md-raised md-primary" ng-disabled="!vm.AnswerObj.answerBody" type="submit">
	Submit Answer
</md-button>
</form>


<div>

	<br>
	<center>
		<div>
			<md-progress-circular ng-if="vm.loading" md-mode='indeterminate' md-diameter='100'></md-progress-circular>
		</div>
	</center>
	<div class="animated bounceIn" ng-show="vm.voteError" style="color: red;">Sorry you already voted on that Answer!</div>
	<center><h2 class="whiteh2">Answers to {{vm.question.userName}}'s Question...</h2></center>
	<br>
	<div class=" mdl-card mdl-shadow--4dp aCards" ng-repeat="a in vm.question.answers track by $index" ng-show="!a.isDeleted">

		<table width="100%">
			<tr>
				<td >
					<span>
						<i  ng-if="vm.isAnswered != a._id" ng-click="vm.chooseAnswer(a._id, a.postedBy)" class="material-icons qIcon" id="QDicon" style="margin-right: 20%;">done</i>
						<i style="color:green; margin-right: 20%;"  ng-if="vm.isAnswered === a._id" class="material-icons qIcon" id="QDicon" ng-click="vm.cancelChoseAnswer(a._id, a.postedBy)">spellcheck</i>
					</span>

					<div ng-if="vm.status._user.id" style="width: 100px;">
						<md-button aria-label="..." class="md-raised md-primary" id="voteBut" ng-click="vm.upVoteAnswer(a._id)">
						<div ng-style="{color: vm.UpvoteColor}" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></div></md-button>
						<div ng-class="vm.VoteAnimation" style="font-size:25px;" id="voteNum">
							{{a.voteNum}}
						</div>
						<md-button aria-label="..." class="md-raised md-primary" id="voteBut" ng-click="vm.downVoteAnswer(a._id)">
						<div ng-style="{color: vm.DownvoteColor}" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></div></md-button>
					</div>

				</td>
				<td>



					<p>{{a.name}} says...{{a.answerBody}}</p>


				</div>



			</span>

		</div>
	</td>
	<td id="answerIcons">


		<!-- <span class="text-right" ng-if="vm.status._user.id === a.postedBy">
			<md-button aria-label="..." class="mdl-button mdl-js-button mdl-js-ripple-effect">
			<i ng-click="vm.deleteAnswer(a._id)" class="material-icons">delete</i>
		</md-button> -->
	</span>
	<md-button ng-if="vm.status._user.id !== a.postedBy" ui-sref='Message({recipient: a.postedBy})' class="mdl-button mdl-js-button mdl-js-ripple-effect">
	<span><i class="material-icons">question_answer</i>
	</md-button>
</span>
</span>





<span ng-if="vm.status._user.id === a.postedBy">
	<a ui-sref="EditAnswer({ans_id: a._id, ques_id: vm.question._id })">
		<md-button aria-label="..." class="mdl-button mdl-js-button mdl-js-ripple-effect">
		<i class="material-icons">edit</i>
	</md-button>
</a>
<md-button aria-label="..." class="mdl-button mdl-js-button mdl-js-ripple-effect">
<i ng-click="vm.deleteAnswer(a._id)" class="material-icons">delete</i>
</md-button>
</span>

<!-- <md-button ng-click="answerComment = true;" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">insert_comment</i></md-button> -->

<!-- <md-button ui-sref='Message({recipient: a.postedBy})' class="mdl-button mdl-js-button mdl-js-ripple-effect">
<span><i class="material-icons">question_answer</i>
</md-button> -->
</span>
</td>
</tr>

</table>


<form  ng-submit="vm.commentAnswer(a._id, comment); comment ='';">
	<md-input-container flex class="text-left">
	<label>Comment on this answer...</label>
	<input ng-model="comment" require>
</md-input-container>

<md-button required type="submit" ng-disabled="!comment">Submit Comment</md-button>
<div ng-repeat="comment in a.comments">
	<strong>{{comment.postedBy}}:</strong> {{comment.commentBody}} <i class="material-icons" style="font-size:0.79em;" ng-click="vm.deleteAnswerComment(a._id, comment._id)" ng-show="comment.postedBy === nav.status._user.username">clear</i>
</form>

</div>


</div>


<br><br>
<div class="col-md-2 col-lg-1">

</div>
