<div class="topRows">
	<div class="col-md-2"></div>

	<div ng-show="!vm.rankLoad" class="col-md-8">
		<md-progress-circular md-mode='indeterminate' md-diameter='100'></md-progress-circular>
	</div>

	<div class="col-md-8" ng-show="vm.rankLoad">
		<br>
		<center><h2 class="whiteh2">How do you rank in the KnowOff?</h2></center>
		<br>
		<div ng-repeat="user in vm.rankObj track by $index">
			<span>

				<div class="mdl-card mdl-shadow--4dp rankCards">

					<div class="mdl-card__supporting-text" style="opacity: none;">
						<h3>
							<img src="{{user.img}}" class="img-circle" style="height: 10%; width: 10%;">
							&nbsp;{{user.name}}
						</h3>
						<h2>Score - {{user.score}}</h2>
						<h5>{{user.kPoints}} Knowledge Points
							<br>
							{{user.gPoints}} General Points
						</h5>


					</span>

					<h1 id="rankNum">#{{$index + 1}}</h1>
				</div>
			</div>

			<!-- </a> -->

		</div>

	</div>


	<div class="col-md-2"></div>
</div>