<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">

			<form ng-submit="vm.registerUser()">

				<md-input-container flex>
					<label>User Name</label>
					<input type="text" ng-model="vm.user.username" />
				</md-input-container>

				<md-input-container flex>
					<label>Email</label>
					<input type="email" ng-model="vm.user.email" />
				</md-input-container>

				<md-input-container flex>
					<label>Password</label>
					<input type="password" ng-model="vm.user.password" />
				</md-input-container>

				<md-input-container flex>
					<label>Confirm Password</label>
					<input type="password" />
				</md-input-container>

				<div class="text-center">

					<md-button type="submit" class="md-raised md-primary">
						Submit
					</md-button>
				</div>
				<br/>

			</form>
		</div>

	</div>
</div>
