<div class="row topRows">
	<div class="col-md-2"></div>

	<!-- <div class="row text-center topRows animated fadeIn"> -->
		<!-- <div class="col-md-8 mdl-card mdl-shadow--4dp">
						
		</div> -->
	<!-- </div> -->
	<div class="col-md-8 animated fadeIn mdl-card mdl-shadow--4dp" ng-cloak>
		
		<div ng-controller="UserProfileController as vm">
					<center>
						<br>
						<div>
							<h3>{{vm.userLoggedIn.username}}</h3>
							<h4>{{vm.userLoggedIn.displayName}}</h4>
							<img class="img img-round profileImage" ng-src="{{vm.userLoggedIn.image}}" height="190px" width="179px">
						</div>
					</center>
						<br>
						<table class="pointsTable">
							<tr>
								<td><h4>General Points</h4>{{vm.status._user.generalPoints}}</td>
								<td><h4>Knowledge Points</h4>{{vm.status._user.knowledgePoints}}</td>
								<td>
									<md-button class="md-raised md-primary" ng-click="profileOptions = true;">Profile Options</md-button>
								</td>
							</tr>
						</table>
						<br>


					<br>

					<span style="margin:auto;" ng-show="profileOptions" class="mdl-card mdl-shadow--4dp">
						<br>
						<md-button ng-click="photoUpload = true;">Add or change profile photo</md-button>
						<div ng-show="photoUpload">

							<ng-form name="form">
								<div>
									<md-button class="md-primary md-raised" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-resize="{width: 600, height: 600}" THIS APPLIES MAX SIZE TO PHOTO ngf-min-height="100">Choose Picture</md-button>
								</div>
								<!-- ngf-resize="{width: 100, height: 100}" THIS APPLIES MAX SIZE TO PHOTO-->

								<!-- Drop files: -->
								<!-- <div ngf-drop ng-model="files" class="drop-box"></div> -->
								<p>Image thumbnail preview:</p>
								<img style='width: 200px; height: 200px;' ngf-thumbnail="file || '/thumb.jpg'"><br>
								<md-button ng-click="submit()">Submit</md-button>
							</ng-form>

						</div>


						<div style="margin: auto;" ng-show='vm.loading' layout='row' layout-sm='column' layout-align='space-around'>
							<md-progress-circular md-mode='indeterminate' md-diameter='80'></md-progress-circular>
						</div>
						<div>

							<md-button ng-click='vm.coolUpdate()'>Edit Profile</md-button>

							<md-button ng-click="vm.deleteUserProfile()">Deactive Profile</md-button>
						</div>
						<md-button ng-click="profileOptions = false;">Close</md-button>
					</span>
				</div>
		<br>
		<center><h2>Your Custom Settings</h2></center>

		<div>
			<center>
				<br>
				<h4>Your home location is the place you know best and love...</h4>

				<md-button type="submit" ng-show="!vm.mapStatus" class="md-button md-primary md-raised" ng-click="vm.openMap()" >Set Home Location</md-button>
				<md-button type="submit" ng-show="!vm.mapStatus" class="md-button md-primary md-raised" ng-click="vm.openhomeMap()" >See Current Home Location</md-button>
			</center>
			<br>

			<div class="searchHome">
				
				<center><md-button ng-show="vm.mapStatus" class="md-button md-primary md-raised" ng-click="vm.searchLocation()">Find Location on map</md-button>
					<md-button ng-show="vm.mapStatus" ng-click="vm.closeMap()">Cancel</md-button>
				</center>

				<md-input-container ng-show="vm.mapStatus">
				
				<label>Type location you want to find here...</label>
				<input ng-model="vm.searchLoc"> 

			</md-input-container>
		</div>


		<center style="font-size: 12.5px;" ng-show="vm.mapHomeStatus">
			<h3>Your current radius for recieving questions is <strong>{{vm.currentRadius}} Miles!</strong></center>
			</h3>



			<!-- map==================================================================== -->

			<br>

			<div ng-if="vm.mapStatus || vm.mapHomeStatus" id="map"></div>


			<center ng-cloak>

				<select ng-show="vm.mapStatus" class="md-button md-raised" ng-model='vm.distance' id="settingsRadius" >
					<option ng-selected="true">Select radius around home location</option>
					<option value='1'>1 Mile</option>
					<option value='2'>2 Miles</option>
					<option value='3'>3 Miles</option>
					<option value='4'>4 Miles</option>
					<option value='5'>5 Miles</option>
					<option value='6'>6 Miles</option>
					<option value='7'>7 Miles</option>
					<option value='8'>8 Miles</option>
					<option value='9'>9 Miles</option>
					<option value='10'>10 Miles</option>
				</select>


			</center>
			<br><center>
			<md-button ng-show="vm.mapStatus" class="md-button md-raised md-primary" ng-click="vm.submitHomeLocation()" ng-disabled="!vm.distance">Submit Home Location</md-button>
			
		</center>
		
		<span class="animated rubberBand" ng-show="vm.hlError">Error Submiting HomeLocation, please make sure you selected a radius, and moved the pin!</span>

	</div>
	<center>
		<span class="animated rubberBand" ng-show="vm.successMes">{{vm.successMes}}</span>
		<div ng-show="!vm.LocSuccess">
			<md-progress-circular md-mode='indeterminate' md-diameter='80'></md-progress-circular>
		</div>
	<center>
	
	<br>
	<span ng-show="vm.tagError" class="animated rubberBand">Cannot Submit tag with Spaces</span>

	<form ng-submit="vm.addTag(vm.tag)">
		<md-input-container flex>
		<label>Input tag and press ENTER...</label>
		<input ng-model="vm.tag">

	</md-input-container>
	<div class="tagDiv">
		<span class="" ng-repeat="tag in vm.tags track by $index">
			<div class="indvTag">
				{{tag}}
				<span ng-click="vm.deleteTag($index)" class="glyphicon glyphicon-remove" aria-hidden="true">
				</span>
			</div>
			&nbsp;
		</span>
	</div>
</form>
<br>
<table class="filteringTable">
	<tr>
		<center><h4>You can filter the questions you see, or not...</h4></center>
		<br>
		<td >
			Question-feed filter is&nbsp; 
			<span ng-show="!vm.CUI.filter">
				<md-button class="md-raised" ng-click="vm.filterOn(); createQTag = true;" ><span style="color:red;">Off</span></md-button>
			</span>


			<span ng-show="vm.CUI.filter">
				<md-button class="md-raised" ng-click="vm.filterOff(); createQTag = false;" ><span style="color:green;">On</span></md-button>
			</span>


		</td>

		<td>
			Filter Alerts by your Tags
			<span ng-show="!vm.CUI.filterAlert">
				<md-button class="md-raised" ng-click="vm.filterAlertOn(); createQTag = true;"><span style="color:red;">Off</span></md-button>
			</span>

			<span ng-show="vm.CUI.filterAlert">
				<md-button class="md-raised" ng-click="vm.filterAlertOff();  createQTag = false;"><span style="color:green;">On</span></md-button>
			</span>
				<!-- <span ng-show="vm.CUI.filterAlert" >Filter is On!</span>
				<span ng-show="!vm.CUI.filterAlert">Filter is Off!</span> -->
			</td>
		</tr>
	</table>
	<span>
		<br>
<!-- 
		<center>
			<md-button ng-click="vm.showTagInput()" class="md-button md-primary md-raised" ng-show="createQTag">Create filtering tags</md-button>
		</center>
	-->

	<br>
	<br>









</div>
<div class="col-md-2"></div>
</div>
