<div class="col-md-2"></div>

<div class="col-md-8" ng-show="!vm.userInfoLoaded">
	<md-progress-circular md-mode='indeterminate' md-diameter='100'></md-progress-circular>
</div>

<div class="col-md-8" ng-show="vm.userInfoLoaded" ng-cloack>
	<br><br><br>

	<div ng-if="vm.fullUserInfo.answers.length === 0 && vm.fullUserInfo.questions.length === 0 && vm.fullUserInfo.likedQuestions.length === 0">
		<center>
		<h1 class="whiteh2">You have not posted anything Yet!</h1>
		</center>
	</div>

	<!-- <div ng-show="!vm.fullUserInfo.questions.length === 0"> -->
	<center><h1 class="whiteh2">Questions you Have posted!</h1></center>
		<div ng-repeat="q in vm.fullUserInfo.questions | filter: vm.search" ng-show="q.isDeleted != true">
			<a ui-sref="ViewQuesiton({id: q._id})">

				<div class="mdl-card mdl-shadow--4dp qCards">

					<div class="mdl-card__supporting-text" style="opacity: none;">
						<span>
							<i ng-if="!q.answered" class="material-icons qIcon" style="color: black;">help_outline</i>
							<i ng-if="q.answered" class="material-icons qIcon" style="color: green;">check</i>
							&nbsp;
							<p>{{q.questionBody}}</p>
						</span>
					</div>
				</div>
				<br>
			</a>
		</div>
	<!-- </div> -->

	<!-- <div ng-show="!vm.fullUserInfo.likedQuestions.length === 0"> -->
		<center><h1 class="whiteh2">Questions you Have liked!</h1></center>

		<div ng-repeat="q in vm.fullUserInfo.likedQuestions | filter: vm.search" ng-show="q.isDeleted != true">
			<a ui-sref="ViewQuesiton({id: q._id})">

				<div class="mdl-card mdl-shadow--4dp qCards">

					<div class="mdl-card__supporting-text" style="opacity: none;">
						<span>
							<i ng-if="!q.answered" class="material-icons qIcon" style="color: black;">help_outline</i>
							<i ng-if="q.answered" class="material-icons qIcon" style="color: green;">check</i>
							&nbsp;
							<p>{{q.questionBody}}</p>
						</span>
					</div>
				</div>
				<br>
			</a>

		</div>
	<!-- </div> -->

	<!-- <div ng-show="!vm.fullUserInfo.answers.length === 0"> -->
	<center><h1 class="whiteh2">Answers you Have posted!</h1></center>
		<div ng-repeat="q in vm.fullUserInfo.answers | filter: vm.search" ng-show="q.isDeleted != true">
			<a ui-sref="ViewQuesiton({id: q.questionId})">

				<div class="mdl-card mdl-shadow--4dp qCards">

					<div class="mdl-card__supporting-text" style="opacity: none;">
						<span>
							<i ng-if="!q.answered" class="material-icons qIcon" style="color: black;">help_outline</i>
							<i ng-if="q.answered" class="material-icons qIcon" style="color: green;">check</i>
							&nbsp;
							<p>{{q.answerBody}}</p>
						</span>
					</div>
				</div>
				<br>
			</a>

		</div>
	<!-- </div> -->
</div>
<div class="col-md-2"></div>
